{
    margin: 0
;
    padding: 0
;
}
img {
    border: none;
}

body {
    background: #EADBDB;
}

.logoa{
    text-align: center;
    background-color: #EADBDB;
}
.clr {
    clear: both;
}

.header {
    text-decoration: none;
    color: #2b8aba;
    font: 48px Arial;
}

.main {
    background: #fff;
    min-width: 980px;
    max-width: 1200px;
    margin: 0 auto;
}

#contentwrapper {
    float: left;
    width: 100%;
    background: #fff;
}

#content {
    height: 100%;
    margin: 0 245px 0 240px;

}

#left-bar {
    float: left;
    width: 240px;
    height: 450px;
    margin-left: -100%;
    outline: 2px solid black;
}

.left-bar-cont h2 {
    color: #fff;
    font: normal 18px Verdana, Geneva, sans-serif;
    background: rgb(14, 148, 195); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(14, 148, 195, 1)), color-stop(100%, rgba(4, 88, 144, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(14, 148, 195, 1) 0%, rgba(4, 88, 144, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0e94c3', endColorstr='#045890', GradientType=1); /* IE6-9 */
    border-radius: 4px 4px 0 0;
}

.info {
    font: bold 14px Verdana, Geneva, sans-serif;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #fff;
    padding: 15px 0 20px 15px;
    font-family: Verdana, Geneva, sans-serif;
    color: #555;
}

.info:last-child {
    border-bottom: none;
}

.info h3 {
    font-size: 18px;
    font-weight: normal;
    color: #000;
}

.info p {
    margin: 4px 0 0 0;
}

.info a {
    font-size: 12px;
    color: #555555;
}

.info a:hover {
    text-decoration: none;
}

.catalog-index {
    overflow: hidden;
}

.catalog-index h1 {
    text-align: center;
    margin: 15px 0 20px 0;
}

.product-index {
    width: 100%;
    float: left;
    margin-left: 10px;
}

.product-index h2 {
    font: 14px Verdana, Geneva, sans-serif;
    color: #2b8aba;
    margin: 0 0 10px 0;
}

.product-index h2 a {
    color: #2b8aba;
}

.product-index h2 a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}
